@charset "UTF-8"
*
{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background: linear-gradient(45deg, #ff6b6b, #f06595);
    padding: 0;
  }

.logo {
    filter: invert(1) grayscale(1) brightness(0);
    padding-left: 60px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #000000;
    font-weight: 900;
    float: left;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
}

.navbar-toggler{
    outline: none;
}

/* banner section */ 

#banner {
    background-image: linear-gradient(45deg, #ff6b6b, #f06595);
    color: #fff;
    padding-top: 5%;
    
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin: 20px;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/* services section */ 

#services{
    padding: 80px 0; 
}

.services-img{
    width: 100px;
    margin-top: 20px;
}

.services{
 padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before{
    content: '';
    background: #f06595;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #f06595;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #ff6b6b, #f06595);
}

/* seção sobre nos */ 

#sobrenos {
    padding: 60px 0;
    background-color: #f8f9fa;
  }
  #sobrenos .title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #33373b;
  }
  #sobrenos .diferenca {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 20px;
    line-height: 1.6;
  }

#testemunhos{
    margin: 100px 0;
}

.testemunhos{
    border-left: 4px solid #f06595;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testemunhos img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 10;
}

.usuario{
    display: inline-block;
    font-size: 18px;
}

/* social media */ 

#social-media{
    background: #ebecee;
    padding: 100px 0;
}

#social-media p{
   font-size: 36px; 
   font-weight: 600;
   margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}

.social-icons a {
    display: inline-block;
    margin: 0 5px; /* Espaçamento entre os ícones */

}

/* footer */ 

#footer{
    background-image: linear-gradient(45deg, #ff6b6b, #f06595);
    color: #fff;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 200px;
    margin-bottom: 5px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(45deg, #ff6b6b, #f06595);
}

.footer-box .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(45deg, #412f2f, #472c36);
}

hr{
    background-color: #fff;
}

.copyright{
    margin-top: 0;
    padding-bottom: 20px;
    text-align: center;
}